<section id="page">
  <button class="random" (click)="getQuote()">
    <span>random</span>
    <img src="../assets/round-arrows-20x20.png" />
  </button>
  <main>

    <quote-random
      [quote]="quote"
      (getQuotesByAuthorEvent)="getQuotesByAuthor($event)"
    ></quote-random>

    <quote-list 
      [quotes]="quotes" 
      [quoteAuthor]="quoteAuthor"
    ></quote-list>
    
  </main>
  <footer>
    <a href="https://www.linkedin.com/in/matejak/">Kris @ matejak.com</a>
  </footer>
</section>
