/* ROOT FONT SIZE --- 16px */

/* Page layout start */

#page {
  display: grid;
  height: 98vh;
  grid-template-areas:
    ". . r"
    ". m ."
    ". f .";
  grid-template-columns:
    minmax(0.625rem, 1fr)
    minmax(11.25rem, 38.375rem)
    minmax(3.125rem, 1fr);
  grid-template-rows: 12.5rem 1fr auto;
}

#page > button.random {
  grid-area: r;
  display: flex;
  justify-self: center;
  margin-top: 2.5rem;
  margin-right: 5rem;
}

#page > button.random :first-child {
  margin-right: 0.2rem;
}

#page > main {
  grid-area: m;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

#page > footer {
  grid-area: f;
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */

/* Textes styles start */

button.random :first-child {
  font-size: 1.125rem;
  color: #4f4f4f;
}

button.random :last-child {
  height: 1.125rem;
  width: 1.125rem;
}

.quote-text {
  font-size: 2.25rem;
  color: #000000;
  border-left: 0.5rem solid #f7df94;
  padding-left: 3.125rem;
  margin-left: -3.625rem;
}

.quote-author {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4f4f4f;
}

.quote-box {
  cursor: pointer;
}

.quote-box:hover {
  background-color: #333333;  
}

.quote-box:hover .quote-author {
  color: #F2F2F2;
}

.quote-box:hover .quote-arrow {
  color: #F2F2F2;
}

.quote-genre {
  font-size: 0.875rem;
  color: #828282;
  padding-top: 0.5rem;
}

.quote-box {
  display: flex;
  padding: 3.125rem 0rem 4.625rem 1.875rem;
  margin-top: 2rem;
  margin-left: -1.875rem;
}

.quote-box > .quote-arrow {
  flex-grow: 1;
  text-align: end;
  padding-top: 0.5rem;
  margin-right: 3.5rem;
  color: #ffffff;
}

/* Quotes list styling start */

.quote-list-author {
  font-size: 2.25rem;
  color: #333333;
}

.quote-list-author:hover {
  cursor: unset;
}

.quote-list-element {
  margin-top: 8.75rem;
}

/* List styling start */

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */

/* Footer styling start */

footer :first-child {
  font-family: Montserrat;
  font-size: 0.875rem;
  color: #a9a9a9;
}

/* Footer styling end */
