<section id="page">
  <button class="random" (click)="getQuote()">
    <span>random</span>
    <img src="../assets/round-arrows-20x20.png" />
  </button>
  <main>
    <section *ngIf="quote">
      <div class="quote-text">{{ quote.text }}</div>
      <div class="quote-author-box">
        <div class="quote-author" (click)="getBillGatesQuotes()">
          {{ quote.author }}
        </div>
        <div class="quote-genre">{{ quote.genre }}</div>
      </div>
      <br />
      <br />
    </section>
    <section *ngIf="quotes">
      <div class="quote-author" (click)="getBillGatesQuotes()">
        {{ quoteAuthor }}
      </div>
      <br />
      <br />
      <div *ngFor="let q of quotes">
        <div class="quote-text">{{ q.quoteText }}</div>
        <div class="quote-author-box">
          <div class="quote-genre">{{ q.quoteGenre }}</div>
        </div>
        <br />
        <br />
        <br />
      </div>
    </section>
  </main>
  <footer>
    <a href="https://www.linkedin.com/in/matejak/">Kris @ matejak.com</a>
  </footer>
</section>
